/*
IN a real app, we would typically use SASS or LESS, or PostCSS or cssnext to centralize variables
like the error color of red in a separate single file.
 */
.textinput {
    margin-bottom: 16px;
}

.textinput__error {
    color: red;
}

.textinput__error--state-error {
    border: solid 1px red;
}